{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <link rel="shortcut icon" href="{% static 'blog/python_logo.png' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    {% if title %}
        <title>BlogGS - {{ title }}</title>
    {% else %}
        <title>BlogGS</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <img class="rounded-circle" style="height:40px;width: 40px;margin-right: 16px;" src="{% static 'blog/as_logo.jpg' %}">
          <a class="navbar-brand mr-4" style="font-weight:bold;color:white;" href="{% url 'blog-home' %}">BlogGS</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <div class="nav-item nav-link">
                <a href="https://www.linkedin.com/in/abeersewak/" target="_blank"><i class="fa fa-linkedin fa-lg" style="padding-right: 20px;"></i></a>
                <a href="https://twitter.com/beingabeer" target="_blank"><i class="fa fa-twitter fa-lg" style="padding-right: 20px;"></i></a>
                <a href="https://github.com/beingabeer" target="_blank"><i class="fa fa-github fa-lg" style="padding-right: 20px;"></i></a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          <article class="media content-section-about" style="background: #FFFAFA;">
            <div class="media-body">
              <h2 style="font-weight:bold;color: black;">About</h2>
              <br>
                <p>
                  <b>Hey, my name is Abeer.</b> I'm a passionate Software Engineer and I like to learn and build with technology.
                </p>
                <p>
                  From using Flask and Django for web development , Scikit Learn and TensorFlow for machine learning, to the Natural Language Toolkit for natural language processing, to Selenium with Python bindings for Automated Testing, Python and programming is a major part of my work.
                  <b>Goal:</b>
                  To figure out new ways in which technology can be implemented for the betterment of mankind.
                </p>
                <p>
                  I created this <b>Blog Web Application</b> with the power of Python's <b>Django web framework</b> as a side project to further enhance my coding skills. This is an open source project and all the code for the Application is available on my Github account.
                </p>
            </div>
          </article>

          <div class="media content-section-about" style="background: #FFFAFA;">
            <div class="media-body">
              <h3 style="font-weight:bold;color: black;">Work Experience</h3>
              <br>
              <article class="media content-section-about">
                <img class="rounded-circle article-img" src="{% static 'blog/key_logo.png' %}">
                <div class="media-body">
                <h4><a href="https://www.keysight.com/us/en/home.html" target="_blank">Keysight Technologies</a></h4>

                  <div class="article-metadata">
                    <b>R&D Software Engineer</b>
                    <small class="text-muted">Feb 2016 - Aug 2018</small>
                  </div>

                  <p class="article-content">
                    Help maintain, test and support a software system which enables electrical test and measurement instrument communication for a variety of development environments (Mathworks MATLAB, Python, NI LabVIEW, Microsoft Visual Studio and more) that are compatible with GPIB, USB, LAN, RS-232, PXI, AXIe, and VXI test instruments from a variety of manufacturers.
                  </p>

                </div>
              </article>

              <article class="media content-section-about">
                <img class="rounded-circle article-img" src="{% static 'blog/huawei_logo.jpeg' %}">
                <div class="media-body">
                <h4><a href="https://www.huawei.com/us/ " target="_blank">Huawei Technologies</a></h4>

                  <div class="article-metadata">
                    <b>Network Engineer</b>
                    <small class="text-muted">Jul 2014 - Dec 2015</small>
                  </div>

                  <p class="article-content">
                    Worked on the 4G Vodafone DWDM project to increase bandwidth over existing fiber networks. Created network diagrams for new and existing networks and installed IP and network equipments.
                  </p>

                </div>
              </article>

              <article class="media content-section-about">
                <img class="rounded-circle article-img" src="{% static 'blog/tut_logo.png' %}">
                <div class="media-body">
                <h4><a href="">Tutorific</a></h4>

                  <div class="article-metadata">
                    <b>Web Developer</b>
                    <small class="text-muted">Feb 2013 - Sep 2013</small>
                  </div>

                  <p class="article-content">
                    Interned with a team developing a revolutionary new platform that allows educational content owners (publishers, training companies, test prep companies) to deliver a personalized learning experience to their students , based on the concept on “continuous adaptivity”.

                    Helped build a web application, testing the application and deploying it to the cloud. Also heavily involved in implementing various Machine Learning algorithms for the prediction and categorization of students of different knowledge levels.
                  </p>

                </div>
              </article>

            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="content-section-about" style="background: orange;">
            <h4 style="font-weight:bold;color: black;"><u>Education</u></h4>
            <a href="https://www.dei.ac.in/dei/" target="_blank"><h5 style="color: black;">Dayalbagh Educational Institute</h5></a>
            <h6><strong>(Faculty of Engineering)</strong></h6>
            <br>
            <p><b style="font-weight:bold;color: black;">Bachelor of Science</b> in Computer Science with a minor in Mechanical Engineering (2010-2014)</p>

            <p><strong style="font-weight:bold;color: black;">Honors:</strong>
              Secured First Rank in the University in the IEEE Xtreme Coding Competition,
              University Soccer and Basketball Captain
            </p>
          </div>
          <div class="content-section-about" style="background: #686868;">
            <h4 style="font-weight:bold;color: black;">Podcasts I Listen To</h4>
                <li><a href="https://www.startalkradio.net/" target="_blank" style="color: white;">Star Talk Radio</a></li>
                <li><a href="http://www.se-radio.net/" target="_blank" style="color: white;">Software Engineering Radio</a></li>
                <li><a href="https://samharris.org/podcast/" target="_blank" style="color: white;">Waking Up with Sam Harris</a></li>
                <li><a href="https://talkpython.fm/" target="_blank" style="color: white;">Talk Python To Me</a></li>
                <li><a href="https://www.wnycstudios.org/shows/radiolab" target="_blank" style="color: white;">RadioLabs</a></li>
            </p>
          </div>
          <div class="col-md-8 content-section-about" style="background: #000000;">
            <h4 style="font-weight:bold;color: white;">Technical Skills</h4>
              <h6 style="color:grey;">Languages:</h6>
              <li style="color: white;">Python</li>
              <li style="color: white;">SQL</li>
              <li style="color: white;">HTML/CSS</li>
              <li style="color: white;">Javascript</li>
              <h6 style="color:grey; margin-top: 4px;">Tools and Frameworks:</h6>
              <li style="color: white;">Selenium WebDriver</li>
              <li style="color: white;">Flask</li>
              <li style="color: white;">Django</li>
              <li style="color: white;">Git and Github</li>
              <h6 style="color:grey; margin-top: 4px;">Software:</h6>
              <li style="color: white;">Mac OS X</li>
              <li style="color: white;">Linux</li>
              <li style="color: white;">Windows</li>
              <li style="color: white;">Sublime Text</li>
            </p>
          </div>
      </div>
    </main>


<div class="footer">

</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
