{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <link rel="shortcut icon" href="{% static 'blog/python_logo.png' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    {% if title %}
        <title>BlogGS - {{ title }}</title>
    {% else %}
        <title>BlogGS</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <img class="rounded-circle" style="height:40px;width: 40px;margin-right: 16px;" src="{% static 'blog/as_logo.jpg' %}">
          <a class="navbar-brand mr-4" style="font-weight:bold;color:white;" href="{% url 'blog-home' %}">BlogGS</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <div class="nav-item nav-link">
                <a href="https://www.linkedin.com/in/abeersewak/" target="_blank"><i class="fa fa-linkedin fa-lg" style="padding-right: 20px;"></i></a>
                <a href="https://twitter.com/beingabeer" target="_blank"><i class="fa fa-twitter fa-lg" style="padding-right: 20px;"></i></a>
                <a href="https://github.com/beingabeer" target="_blank"><i class="fa fa-github fa-lg" style="padding-right: 20px;"></i></a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="media content-section" style="background: #FFFAFA;">
            <h1>About Page</h1>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content-section" style="background: orange;">
            <h4 style="font-weight:bold;color: black;"><u>Education</u></h4>
            <a href="https://www.dei.ac.in/dei/" target="_blank"><h5 style="color: black;">Dayalbagh Educational Institute</h5></a>

              <h6>Faculty of Engineering</h6><li>2010-2014</li>
          </div>
          <div class="content-section" style="background: #686868;">
            <h4 style="font-weight:bold;color: black;">Podcasts I Listen To</h4>
                <li><a href="https://www.startalkradio.net/" target="_blank" style="color: white;">Star Talk Radio</a></li>
                <li><a href="http://www.se-radio.net/" target="_blank" style="color: white;">Software Engineering Radio</a></li>
                <li><a href="https://samharris.org/podcast/" target="_blank" style="color: white;">Waking Up with Sam Harris</a></li>
                <li><a href="https://talkpython.fm/" target="_blank" style="color: white;">Talk Python To Me</a></li>
                <li><a href="https://www.wnycstudios.org/shows/radiolab" target="_blank" style="color: white;">RadioLabs</a></li>
            </p>
          </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
